@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  @apply antialiased;
}

/* Custom Gradients */
.gradient-bg {
    @apply bg-gradient-to-br from-indigo-500 via-purple-500 to-pink-500;
}

.gradient-text {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500;
}
